body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #fff;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 23px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  z-index: 100;
}

.contenedor-botones {
  display: flex;
  flex-direction: row;
}

.header-boton {
  text-decoration: none;
  font-size: 12px;
  color: #000;
  margin-right: 10px;
  padding: 0 5px;
  box-sizing: border-box;
  height: 16px;
}

.header-boton-active {
  background-color: #e8fd00;
}

.logo {
  width: 150px;
  height: 10px;
  position: relative;
  display: block;
}

.contenedor-socials {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.social-boton {
  width: 8px;
  position: relative;
  display: block;
}

.social-boton-instagram {
  width: 14px;
  position: relative;
  display: block;
  margin-left: 18px;
}

.menu-mobile {
  width: 100%;
  height: 56px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  position: relative;
  top: 56px;
}

.mobile-header-boton {
  text-decoration: none;
  font-size: 12px;
  color: #000;
  padding: 0 5px;
  box-sizing: border-box;
  height: 16px;
}

.separador {
  width: 2px;
  height: 35px;
  background-color: #dedede;
  margin: 0 50px;
}

img {
  display: block;
  width: 100%;
}

.grid {
  margin: 56px auto 0;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 330px;
  float: left;
  padding: 10px 10px 0;
}

.contenedor-flecha-arriba {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
  width: 50px;
  height: 50px;
  background-color: rgba(255,255,255,1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header-boton {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
}
