body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #fff;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.grid {
  background: #EEE;
  /* center */
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 330px;
  float: left;
}
